<%- include("includes/head.ejs") %>
<h1>Hello</h1>
<img src="/System-users.svg">
<a class="btn btn-warning" href="/users/add">Add user</a>
<a class="btn btn-primary" href="/users">View users</a>
<%- include("includes/tail.ejs") %>
